
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2563eb;
}

body {
  @apply bg-slate-50 text-slate-900;
  -webkit-tap-highlight-color: transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
